<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>824429547054-8gskrqb2t6kj1ebv6bfcq6g2nvgiktip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.824429547054-8gskrqb2t6kj1ebv6bfcq6g2nvgiktip</string>
	<key>API_KEY</key>
	<string>AIzaSyCg9YJ2U1v58hpv0XYYHpqAsitltI28HzA</string>
	<key>GCM_SENDER_ID</key>
	<string>824429547054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebase</string>
	<key>PROJECT_ID</key>
	<string>fi-a3-mutahar</string>
	<key>STORAGE_BUCKET</key>
	<string>fi-a3-mutahar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:824429547054:ios:5d0b9bed5b61e776d659bf</string>
</dict>
</plist>